*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --celeste: rgb(193, 251, 255);
    --lila: rgb(175, 163, 224);
    --piel: rgb(245, 216, 228);
    --gris: rgb(114, 115, 119);
}

body{
    background-color: var(--celeste);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    padding: 20px 5vw;
    display: flex;
    flex-direction: column;
}

p{
    font-size: .8rem;
}

.totales{           /* seccion donde se muestran los montos totales  */
    background-color: white;
    border-radius: 15px;
    display: flex;
    padding: 5% 7%;
    margin-bottom: 2vh;
}

.contenedorBilletera{
    display: flex;
    align-items: center;
    width: 30%;
}

.iconoBilletera{
    font-size: 3rem;
}

#montoDisponible{
    font-size: 2rem;
}

.montos{
    width: 70%;
}

.montos h3{
    color: var(--gris);
    font-size: .8rem;
}

.montos > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.ingresos{       /* seccion donde se ingresa el dinero disponible y los gastos */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 2vh;
}

.contenedorInputs{
    display: flex;
    align-items: center;
}

.contenedorInputs > div{
    width: 60%;
}

label{
    font-size: .8rem;
}

input{
    background-color: transparent;
    border: 0;
    width: 100px;
    font-size: .8rem;
    color: var(--gris);
}



.gastos{         /* seccion donde se muestran los gastos */
    background-color: white;
    border-radius: 10px;
    display: flex;
    height: 70%;
}













/* responsive tablet */
  
@media (min-width: 480px){
}

/* responsive pc escritorio */
  
@media (min-width: 1024px){
}